#menu {
    background-color: black;
    width: 100%;
    color:white;
    height:60px;
    border-radius: 5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    box-shadow: 0 0 25px 1px black;
    overflow: hidden;
    position: fixed;
}
#menu a {
    color: wheat;
}
#menu a:hover {
    color: #0e0e0e;
    cursor: default;
    font-style: normal;

    text-decoration: none;
}
#menu a:active {
    color: #0e0e0e;
    cursor: default;
    font-style: normal;
    text-decoration: none;
}

#menu ul li:hover {
    color: #a5da49;
    cursor: default;
}
#menu ul li:active {
    color: #a5da49;
    cursor: default;
}

#menu li:hover {
    background-color: #a5da49;
    border-radius: 5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    cursor: pointer;
}
    #menu p {
        font-family: cursive;
        margin-bottom: 20px;

        color: #a5da49;
        font-style: italic;
    }
    #menu img {
        max-height: 45px;
        padding-right: 10px;
        padding-top: 10px;
        float: right;
    }
    #menu ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap:wrap;
        -ms-flex-wrap:wrap;
        flex-wrap:wrap;
        list-style-type: none;
        padding-left: 15px;
        padding-top: 12px;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }



    #menu ul li {
        font-size: large;
        margin: 5px 1.5em 5px 1.5em;
        display: inline;
        -webkit-transition:all linear 0.01s;
        transition:all linear 0.01s;

    }


#menu label, input{
    display:none;

}
