@import "nav-inline.css" (min-width:650px);
@import "nav-target.css" (max-width:649px);
body {
  font-family:'Trebuchet MS', sans-serif;
    font-size: medium;
    color: black;
    background: url('../img/bg.jpg') fixed no-repeat;
    background-size: cover;
    line-height: 1.429;
    overflow-x: hidden;
    overflow-y: scroll;
}
#products, #news, #links,#feedback ,#contentinfo, #footer{
    background-color: white;
    margin-bottom: 1.5em;
    opacity: 0.95;
    box-shadow: 0 0 25px 1px black;
    padding: 10px 30px 30px 30px;
    overflow: hidden;
    border-radius: 10px;
    max-width: 100%;
    font-size: medium;
    -webkit-align-content: center;

    align-content: center;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}
#featured{
     background-color: white;
     margin-bottom: 1.5em;
     opacity: 0.95;
     box-shadow: 0 0 25px 1px black;
     padding: 50px 30px 30px 30px;
     overflow: hidden;
     border-radius: 10px;
     max-width: 100%;
     font-size: medium;
     -webkit-align-content: center;

     align-content: center;
     -moz-border-radius:10px;
     -webkit-border-radius:10px;
 }
#featured figure {
    float: right;
    margin-left: 70px;
    padding-top: 15px;
}
#featured figcaption {
    font-size: small;
    margin-top: 1em;
    margin-left: 1.5em;
    font-style: italic;
}
#featured figcaption img {
    float: right;
}
#featured p{
    font-size: medium;
}
#featured h2{
    color:#A5Daa9;
    font-size: x-large;
}
#featured h3 {
   font-size:large;
}

#news h2 {
    font-size: larger;
}
#news_list {
    list-style-type: none;
}
#news_list article {
    border:1px dashed #EEE;

}
#news-list time {
    font-size: medium;
    font-style: italic;
}
#news-list header {
    padding-bottom: 1.143em;
}
#news-list footer {
    font-size: small;
    margin-bottom: 2em;
}
#news li:first-child h2 {
    color:#e6b886;
}
#links h2 {
    color: #a5da49;
    font-size: x-large;
    margin-bottom: 20px;
    padding-top: 0;

}
#links ul {

    list-style-type: none;
}

#links li {
    display: block;
}
#links a {
    margin-top: 1.0em;
    font-size: large;
}
article h2 {
    color: #a5da49;
}

#address {
    align-content: right;
    margin-left:30px;
    font-size: medium;
}
#feedback h2 {
    color:#4b88b6;
    font-size:x-large;
}
.thumbnail h4{
    float:right;
    display: inline-block;
}
#contentinfo {
    margin-bottom: 0;
    border-radius: 10px 10px 0 0;

}
#contentinfo img{
    float: right;
    display: inline-block;
}

.arrow{
    overflow: hidden;
    position: fixed;
    width: 128px;

}



